MAS/PRIVATE
MAS/WORKSPACE
MAS/Database
.env
~
.qodo
src/masai/Tools/tools
src/masai/Services/
project_example
miscelleneous
masai/etc
masai/Include
masai/Lib
masai/Scripts
masai/share
masai/pyvenv.cfg
test.py
__pycache__