langgraph>=0.2.67
langchain==0.3.15
langchain-community==0.3.15
langchain-core==0.3.31
langchain-google-community==2.0.4
pydantic>=2.0
python-dotenv
tqdm
requests
anthropic
openai
google-generativeai==0.8.4
langchain-groq==0.2.3
langchain-openai==0.3.2
langchain-text-splitters==0.3.5
langsmith
beautifulsoup4
arxiv
wikipedia
duckduckgo-search
psycopg2
tokenizers==0.21.0
neo4j
langchain_neo4j==0.3.0

bcrypt==4.2.1
bs4==0.0.2
chroma-hnswlib==0.7.6
chromadb==0.6.3
duckduckgo_search==7.2.1
executing==2.1.0
fake-useragent==2.0.3
google-ai-generativelanguage==0.6.15
google-api-core==2.24.0
google-api-python-client==2.159.0
google-auth==2.37.0
google-auth-httplib2==0.2.0
google-cloud-core==2.4.1
google-generativeai==0.8.4
google-pasta==0.2.0
groq==0.13.1
huggingface-hub==0.27.0
json_repair==0.39.1
keras==3.8.0
matplotlib==3.10.0
namex==0.0.8
nano-vectordb==0.0.4.3
neo4j==5.28.1
networkx==3.4.2
numpy==1.26.4
nylas==6.6.0
ollama==0.4.4
openai==1.60.0
opencv-python==4.11.0.86
pillow==11.0.0
psycopg2==2.9.10
PyAutoGUI==0.9.54
pycparser==2.22
pydantic==2.10.6
PyGetWindow==0.0.9
PyPDF2==3.0.1
pythreejs==2.4.2
PyYAML==6.0.2
pyzmq==26.2.0
rank-bm25==0.2.2
regex==2024.11.6
requests==2.32.3
safetensors==0.5.2
scikit-learn==1.6.1
scipy==1.14.1
seaborn==0.13.2
segments==2.2.1
selenium==4.28.1
sentence-transformers==3.4.0
spacy==3.8.4
SQLAlchemy==2.0.36
tavily-python==0.5.0
tenacity==8.5.0
tensorflow==2.18.0
tf_keras==2.18.0
tiktoken==0.8.0
torch==2.5.1
torchvision==0.20.1
transformers==4.48.1
twine==6.1.0
wikipedia==1.4.0
youtube-transcript-api==0.6.3